html, body {
    width: 100%;
    height: 100%;
}

.text-center {
    text-align: center !important;
}

#button-progress {
    position: absolute;
    display: initial;
    top: 15.5px;
    right: 15%;
}

#button-progress path {
    stroke: #FFFFFF !important;
}

/* HOME */

#home-container {
    width: 100%;
    height: 100%;
}

#home-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
}

#home-header {
    margin-top: -12px;
    font-size: 5em;
    color: #FFFFFF;
    padding: 0;
}

#username-input {
    width: 35%;
    height: 50px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0.6);
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#username-input:focus {
    border-bottom: 3px solid rgba(255, 255, 255, 0.8);
}

#username-input::placeholder {
    color: #FFFFFF;
    opacity: 0.5;
}

#home-button {
    margin-top: 24px;
    width: 20%;
    height: 64px;
    background: transparent;
    border: 3px solid #FFFFFF;
    color: white;
    font-size: 2em;
    box-shadow: none;
}

#home-button span {
    position: absolute;
    font-weight: bold;
    top: 13px;
    right: 15%;
}

/* IN PROGRESS */


#in-progress-container {
    background-color: rgba(33, 150, 243, 1);
}

#in-progress-content-container {
    justify-content: center;
    margin-top: 48px;
}

#in-progress-header {
    text-align: center;
    margin-left: 64px;
    font-size: 3.5em;
    color: #FFFFFF;
    padding: 0;
}

#in-progress-dot-1 {
    position: relative;
}

#in-progress-dot-2 {
    position: relative;
    left: -10px;
}

#in-progress-dot-3 {
    position: relative;
    left: -20px;
}

#leaderboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
    text-align: center;
    width: 100%;
}

#leaderboard-header {
    color: #FFFFFF;
    text-align: center;
    font-size: 3em;
    margin-bottom: 12px;
}

#leaderboard-card {
    width: 40%;
}

.leaderboard-col {
    font-size: 20px !important;
    color: #555555 !important;
}

.leaderboard-cell {
    font-size: 16px !important;
    text-align: center !important;
}

#in-progress-button {
    margin-top: 24px;
    width: 20%;
    height: 64px;
    background: transparent;
    border: 3px solid #FFFFFF;
    color: white;
    font-size: 1.7em;
    box-shadow: none;
    transition: all ease 0.75s;
}

#in-progress-button span {
    position: relative;
    font-weight: bold;
    top: 1px;
    right: 6px;
}

/* GAME WAIT */

#game-wait-container {
    background-color: rgba(33, 150, 243, 1);
}

#game-wait-content-container {
    justify-content: center;
    margin-top: 48px;
}

#game-wait-header {
    text-align: center;
    margin-left: 64px;
    font-size: 2.6em;
    color: #FFFFFF;
    padding: 0;
}

#game-wait-dot-1 {
    position: relative;
}

#game-wait-dot-2 {
    position: relative;
    left: -10px;
}

#game-wait-dot-3 {
    position: relative;
    left: -20px;
}

#game-wait-countdown {
    font-weight: 300;
    font-size: 1.5em;
}

#countdown-container {
    justify-content: center;
    margin-top: 144px;
    text-align: center;
}

#countdown-header {
    color: #FFFFFF;
    font-size: 15em;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -24px;
}

#countdown-subheader {
    color: #FFFFFF;
    font-size: 5em;
    font-weight: 300;
    margin-top: -36px;
    margin-bottom: 0;
}

/* PLAY COUNTDOWN */

#play-countdown-container {
    width: 100%;
    height: 100%;
}

#play-countdown {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 14em;
    font-weight: bold;
}

/* SUMMARY */

#summary-container {
    background-color: rgba(33, 150, 243, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#summary-header {
    display: flex;
    text-align: center;
    font-size: 4em;
    color: #FFFFFF;
    padding: 0;
    margin-top: -32px;
}

#summary-data {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-top: -64px;
}

#summary-items-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.summary-item {
    display: flex;
    flex-grow: 1;
    width: 33%;
    border-right: 4px solid rgba(255, 255, 255, 0.9);
    margin-bottom: 30px;
    padding-right: 32px;
    padding-left: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary-item:last-child {
    border-right: none;
}

.summary-item h1 {
    color: #FFFFFF;
    font-size: 6em;
    font-weight: 200;
    margin-bottom: 12px;
    margin-top: 32px;
}

.summary-item h3 {
    color: #FFFFFF;
    font-size: 36px;
    margin-top: 0;
}

#summary-button {
    margin-top: 64px;
    width: 20%;
    height: 64px;
    background: transparent;
    border: 3px solid #FFFFFF;
    color: white;
    font-size: 1.7em;
    box-shadow: none;
    transition: all ease 0.75s;
}

#summary-button span {
    position: relative;
    font-weight: bold;
    top: 1px;
    right: 6px;
}

/* PLAY */

#play-container {
    background-color: rgba(33, 150, 243, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#play-content-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 64px;
    padding-right: 64px;
}

#play-header {
    text-align: center;
    font-size: 4em;
    color: #FFFFFF;
    padding: 0;
}

#play-inner-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
}

#play-code-editor {
    display: flex;
    width: 60%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

#play-leaderboard-container {
    display: flex;
}

#play-leaderboard-card {
    display: flex;
    flex: 1;
}

.untyped {
    color: #8a8a8a !important;
}

.untyped .hljs-title, .untyped .hljs-string, .untyped .hljs-keyword {
    color: #8a8a8a !important;
}

.correct {
    background-color: #FFF;
}

.incorrect {
    background-color: red;
}

.new_line_span {
    margin: 3px;
}

.green {
    background-color: #e6e6e6;
}

.tab_span {
    margin-left: 32px;
}

.return_logo_untyped {
    background-color: #FFF;
}

.ic_return {
    position: relative;
    width: 12px;
    top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    color: #333333;
    opacity: 0.5;
}

#play-code-editor pre {
    white-space: normal;
    font-size: 18px;
}

#play-leaderboard-header {
    text-align: center;
    color: #333333;
    margin-bottom: 12px;
    font-size: 24px;
}
