<md-content layout-fill id="game-wait-container" layout-align="center center">
    <div id="game-wait-content-container">
        <h1 id="game-wait-header">
            RACE IN <span id="game-wait-countdown">{{ gameWaitCtrl.countdown }}</span> SECONDS
            <span id="game-wait-dot-1">.</span>
            <span id="game-wait-dot-2">.</span>
            <span id="game-wait-dot-3">.</span>
        </h1>
    </div>

    <div id="countdown-container">
        <h1 id="countdown-header">{{ gameWaitCtrl.nPlayers }}</h1>
        <h6 id="countdown-subheader">PLAYERS</h6>
    </div>
</md-content>
