<md-content flex="100" layout="column" layout-fill md-theme="{{ homectrl.currentTheme }}" md-theme-watch id="home-container" layout-align="center center">
    <div flex="80" layout="row" layout-align="center center" id="home-content-container">
        <h1 class="text-center" id="home-header">CODE RACER</h1>
        <input name="username" ng-model="homeCtrl.username" id="username-input" placeholder="USERNAME" autocomplete="off">
        <md-button class="md-raised" id="home-button" ng-click="homeCtrl.joinGame()" ng-disabled="homeCtrl.buttonDisabled">
            ENTER
            <span ng-show="!homeCtrl.buttonDisabled">▶</span>
            <md-progress-circular ng-if="homeCtrl.buttonDisabled" md-mode="indeterminate" id="button-progress" md-diameter="28px"></md-progress-circular>
        </md-button>
    </div>
</md-content>
