<md-content layout-fill id="in-progress-container" layout-align="center center">
    <div id="in-progress-content-container">
        <h1 id="in-progress-header">
            GAME IN PROGRESS
            <span id="in-progress-dot-1">.</span>
            <span id="in-progress-dot-2">.</span>
            <span id="in-progress-dot-3">.</span>
        </h1>
    </div>

    <div id="leaderboard-container">
        <h1 class="text-center" id="leaderboard-header">Leaderboard</h1>
        <md-card id="leaderboard-card">
            <md-table-container id="leaderboard-table">
                <table md-table multiple md-progress="promise">
                    <thead md-head md-order="inProgressCtrl.query.order">
                        <tr md-row>
                            <th md-column class="text-center leaderboard-col"><b>Username</b></th>
                            <th md-column class="text-center leaderboard-col"><b>Characters / Minute</b></th>
                        </tr>
                    </thead>

                    <tbody md-body>
                        <tr md-row ng-repeat="leaderboardItem in inProgressCtrl.leaderboard">
                            <td md-cell class="leaderboard-cell">{{ leaderboardItem.username }}</td>
                            <td md-cell class="leaderboard-cell">{{ leaderboardItem.cpm | number: 2 }}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-card>
        <md-button class="md-raised" id="in-progress-button" ng-click="inProgressCtrl.back()">
            <span>◀</span>
            BACK
        </md-button>
    </div>
</md-content>
