<md-content layout-fill id="play-container" layout-align="center center">
    <div id="play-content-container">
        <h1 id="play-header">
            RACE START!
        </h1>

        <div id="play-inner-container">
            <md-card id="play-code-editor">
                <pre>
                    <code class="python" id="text_area_id">
                    </code>
                </pre>

                <!-- <div id="debugger"></div> -->
            </md-card>

            <md-card id="play-leaderboard-card">
                <md-table-container id="leaderboard-table">
                    <table md-table multiple md-progress="promise">
                        <thead md-head md-order="playCtrl.query.order">
                            <tr md-row>
                                <th md-column class="text-center leaderboard-col"><b>Username</b></th>
                                <th md-column class="text-center leaderboard-col"><b>Characters / Minute</b></th>
                            </tr>
                        </thead>

                        <tbody md-body>
                            <tr md-row ng-repeat="leaderboardItem in playCtrl.leaderboard">
                                <td md-cell class="leaderboard-cell">{{ leaderboardItem.username }}</td>
                                <td md-cell class="leaderboard-cell">{{ leaderboardItem.cpm | number: 2 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </md-card>
        </div>
    </div>
</md-content>
