<md-content  layout-fill id="summary-container" layout-align="center center">
    <md-card id="summary-data">
        <h1 id="summary-header">
            YOUR PERFORMANCE
        </h1>

        <div id="summary-items-container">
            <div class="summary-item">
                <h1 class="number">{{ summaryCtrl.cpm | number:2 }}</h1>
                <h3 class="title">CHARS / MIN</h3>
            </div>

            <div class="summary-item">
                <h1 class="number">{{ summaryCtrl.progress | number:2 }}%</h1>
                <h3 class="title">PROGRESS</h3>
            </div>

            <div class="summary-item">
                <h1 class="number">{{ summaryCtrl.error }}</h1>
                <h3 class="title">ERRORS</h3>
            </div>
        </div>
    </md-card>

    <md-button class="md-raised" id="summary-button" ng-click="summaryCtrl.back()">
        <span>◀</span>
        BACK
    </md-button>
</md-content>
